@import url("../../node_modules/@cometchat/chat-uikit-react/dist/styles/css-variables.css");
#root {
    text-align: center;
    width: 100vw;
    
    background-color: #282c34;
  }
  
  .conversations-with-messages {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
  }
  
  .conversations-wrapper {
    height: 100vh;
    width: 480px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
   
  }
  
  .conversations-wrapper>.cometchat {
    overflow: hidden;
  }
  
  .messages-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .empty-conversation {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--cometchat-background-color-03, #F5F5F5);
    color: var(--cometchat-text-color-secondary, #727272);
    font: var(--cometchat-font-body-regular, 400 14px Roboto);
  }
  
  .cometchat .cometchat-message-composer {
    border-radius: 0px;
  }