

.navbar{
    color: white;
    display: flex;
    height: 78px;
    justify-content: flex-start;
    font-size: 18px;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.navbar a{
    text-decoration: none;
    
    margin-right: 20px;
}

.navbar span{
    cursor: pointer;
}

.navbar a:visited{
    color:aqua
}

.navbar a:link{
    color:white;
}

@media (max-width:680px){
    .navbar{
        font-size: 14px;
    }
}